PostgreSQL

DB_NAME=
DB_USER=
DB_PASSWORD=

Flask

FLASK_SECRET_KEY=

API Authentication

API_KEY=
WEBHOOK_SECRET=

GitHub OAuth 2.0

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

External API

OPENFDA_API_KEY=
EXTERNAL_API_KEY=